@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans: var(--font-roboto);
  --font-mono: var(--font-raleway);
}

.dark {
  --background: oklch(0.129 0.042 264.695);
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
button {
  cursor: pointer;
}
@layer utilities {
  .bg-btn {
    @apply bg-[#7c4ee4] hover:bg-[#6d3ecf] dark:bg-[#6d3ecf] dark:hover:bg-[#5f2ecb];
  }
}
