@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans: var(--font-roboto);
  --font-mono: var(--font-raleway);
}

.dark {
  --background: oklch(0.129 0.042 264.695);
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
button {
  cursor: pointer;
}
@layer utilities {
  .bg-btn {
    @apply bg-[#7c4ee4] hover:bg-[#6d3ecf] dark:bg-[#6d3ecf] text-white dark:hover:bg-[#5f2ecb];
  }
  .bg-background {
    @apply bg-[#7c4ee4];
  }
  .cloud-btn {
    @apply text-nowrap border border-[#464646] hover:bg-[#131313] hover:text-white transition-all duration-300 py-2 px-4 rounded-lg;
  }
}
.markdown > * {
  all: revert;
}
.markdown img {
  max-width: 400px;
  max-height: 600px;
  border-radius: 20px;
  margin: 0 auto;
  height: 500px;
  object-fit: contain;
}
.markdown a {
  color: #1822d6;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.markdown ol {
  list-style-type: decimal;
  padding-left: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.markdown ol > li + li {
  margin-top: 2rem;
}
.markdown ul > li + li {
  margin-top: 2rem;
}
