@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans: var(--font-roboto);
  --font-mono: var(--font-raleway);
}

.dark {
  --background: oklch(0.129 0.042 264.695);
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
